
element.style {
}
style.css:454
.lastbanner button:hover {
    border-radius: 0px;
    width: 160px;
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 10px;
}

style.css:438
.lastbanner button {
    display: block;
    margin: 0 auto;
    height: 140px;
    width: 140px;
    transition: 2s;
    /* padding: 31px 19px; */
    font-size: 22px;
    margin-top: 13px;
    text-transform: uppercase;
    color: white;
    background-color: #241005;
    border: none;
    border-radius: 70px;
    /* margin-bottom: 126px; */
}
style.css:1
* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
user agent stylesheet
button {
    -webkit-appearance: button;
}
Inherited from div.lastbanner
style.css:414
.lastbanner {
    background: black url(../images/luxury.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-bottom: 195px;
}
style.css:1
* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}
Inherited from body
style.css:1
* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}
Inherited from html
style.css:1
* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}
